{% extends 'main/base.html' %}
{% block title %}О комнпаии{% endblock %}
{% block content %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">О нас</h1>
                                <p class="lead fw-normal text-muted mb-4">Компания "JeweleryJew's" была создана группой влюбленных в свое дело энтузиастов в 2002 году в Минске.На момент создания предприятия средний стаж работы в ювелирном деле наших мастеров составлял 10 лет, а это значит, что за плечами каждого мастера уже на тот момент был большой опыт работы и как следствие большое количество интересных работ. Сейчас нам уже 14 лет. За это время в ювелирном деле многое изменилось. Появились новые технологии, новый инструментарий и вместе с огромным опытом все это позволяет нам соответствовать всем самым высоким Вашим требованиям.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Изучить подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d493.87331281558!2d27.589575565632153!3d53.92694260852456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf0b7098d6f3%3A0x4a5db4e9cfc8d28d!2z0JHQuNC30L3QtdGBINGG0LXQvdGC0YAgItCh0L7Qu9C-Ig!5e0!3m2!1sru!2sby!4v1637260956190!5m2!1sru!2sby" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Дружный и опытный коллектив поможет Вам быстро подобрать и исполнить ювелирное изделие Вашей мечты.</h2>
                            <p class="lead fw-normal text-muted mb-0">Хорошее расположение и наличие парковок делает посещение нашего предприятия удобным как на общественном, так и на личном транспорте.

</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://cs3.livemaster.ru/zhurnalfoto/b/3/d/150713134051.jpeg" alt="..." /></div>
                        <div class="col-lg-6">
                            <p class="lead fw-normal text-muted mb-0">Мы оказываем широкий спектр услуг. Срочный ремонт ювелирных изделий любой сложности, ремонт бижутерии. Уникальный новейший аппарат лазерной микросварки позволяет ремонтировать те изделия, в ремонте которых Вам было везде отказано. Изготовление ювелирных изделий по образцам и каталогам. Широкий ассортимент готовых изделий в обменном фонде. Граверные работы выполняемые, как вручную, так и с применением алмазного гравировального станка.</p>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}