{% extends 'main/base.html' %}
{% block title %}
Обменный Фонд
{% endblock %}
{% block content %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-9">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1">Обменный фонд</h1>
                                </header>
                                <!-- Preview image figure-->
                                <figure class="mb-4"><img class="img-fluid rounded" src="https://www.alternativesoft.com/img/blog/updated/hedge-fund-of-2019-goes-big-on-gold.png" alt="..." /></figure>
                                <!-- Post content-->
                                <section class="mb-5">
                                    <p class="fs-5 mb-4">Все имеющиеся в обменном фонде ювелирные изделия сделаны в нашей ювелирной мастерской, они новые и прошли опробование в Государственной инспекции пробирного надзора Республики Беларусь.</p>
                                    <p class="fs-5 mb-4">В качестве драгоценного металла принимаются любые ювелирные изделия или их лом, золотые зубные протезы, монеты. Приемщик в присутствии заказчика производит визуальный осмотр сдаваемого металла, в случае отсутствия пробирных клейм проверяет соответствие заявляемой пробы на пробирном камне с помощью реактивов. Пустотелые изделия, изделия с камнями и зубные протезы в присутствии заказчика плавятся в слиток. Если сдаваемый металл имеет разную пробу, то приемщик пересчитывает все и в выданной Вам квитанции указывает вес сданного лома в 583 пробе.</p>
                                    <p class="fs-5 mb-4">Мы постоянно работаем над расширением ассортимента и увеличением количества изделий представленных в Обменном фонде.</p>
                                </section>
                            </article>
{% endblock %}
