{% extends 'main/base.html' %}
{% block title %}
Главная
{% endblock %}
{% block content %}
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Ювелирная мастерская "JeweleryJew's"</h1>
                                <p class="lead fw-normal text-white-50 mb-4">На этом месте у автора закончилась фантазия. Можно представить красивые слова</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://avatars.mds.yandex.net/get-ynews/1879941/dfe7bd702796967f99d8398a5edde33f/orig" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"UNUM ERRATUM UT ERRAS"</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}