{% extends 'main/base.html' %}
{% block title %}
{% for j in category %}
{% if j.slug == cat %}
Каталог: {{j.name}}
{% endif %}
{% endfor %}
{% endblock %}
{% block content %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        {% for j in category %}
                        {% if j.slug == cat %}
                        <h1 class="fw-bolder">{{j.name}}</h1>
                        {% endif %}
                        {% endfor %}
                        <p class="lead fw-normal text-muted mb-0">Выберите себе вариант по вкусу и свяжитесь с мастером  по телефону +375(29) 8-800-555-35-35</p>
                    </div>
                    <div class="row gx-5">
                        {% for i in items %}
                        {% if i.cat.slug == cat%}
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{i.img}}" alt="..." />
                                 <div class="fs-4 mb-4 fst-italic">Название: {{i.title}}. Цена: {{i.price}}$</div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
{% endblock %}